body{
	background-color: #232323; 
	margin: 0;
	font-family: "Avenir";
}

.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	background-color:  pink;
	border-radius: 15%;
	transition: background 0.6s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#colorDisplay{
	font-size: 200%;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
	color: white;
	background: steelblue;
}

button{
	border : none;
	background : none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#messageDisplay{
	display: inline-block;
	width: 20%;

}